
#MainView{
  background-color: #000000;
}
#image{
  background-color: #000000;
}
#image-checked {
  background-image: url('pattern.png');
  background-repeat: repeat;
}
.info-label {
  padding-left: 10px;
}
